# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project-Specific Configs
hinge_calibration.json
hinge_config.json

# Python Artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo